<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ITEA - {% block meta_title %}Library{% endblock meta_title %}</title>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/popper.js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">


        <!-- Google font-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
        <!-- Required Fremwork -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
        <!-- waves.css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pages/waves/css/waves.min.css') }}">
        <!-- themify-icons line icon -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icon/themify-icons/themify-icons.css') }}">
        <!-- ico font -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icon/icofont/css/icofont.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icon/font-awesome/css/font-awesome.min.css') }}">
        <!-- Notification.css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pages/notification/notification.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.css/css/animate.css') }}">
        <!-- Style.css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.css') }}">
        {% block extra_css_top %}
        {% endblock extra_css_top %}
        {% block extra_js_top %}
        {% endblock extra_js_top %}

    </head>
    <body>
        <div class="theme-loader">
            <div class="loader-track">
                <div class="preloader-wrapper">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script type="text/javascript">
                var messages = []
                {% for category, mess in messages %}
                    messages.push(['{{mess}}', '{{ category }}'])
                {% endfor %}
            </script>
        {% endif %}
        {% endwith %}

        <div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
                <nav class="navbar header-navbar pcoded-header">
                    <div class="navbar-wrapper">
                        <div class="navbar-logo">
                            <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                                <i class="ti-menu"></i>
                            </a>
                            <div class="mobile-search waves-effect waves-light">
                                <div class="header-search">
                                    <div class="main-search morphsearch-search">
                                        <div class="input-group">
                                            <span class="input-group-prepend search-close"><i class="ti-close input-group-text"></i></span>
                                            <input type="text" class="form-control" placeholder="Enter Keyword">
                                            <span class="input-group-append search-btn"><i class="ti-search input-group-text"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ url_for('home') }}">
                                <img src="{{ url_for('static', filename='images/logo.svg') }}" class="imglogoWS">
                            </a>
                            <a class="mobile-options waves-effect waves-light">
                                <i class="ti-more"></i>
                            </a>
                        </div>
                        <div class="navbar-container container-fluid">
                            <ul class="nav-left">
                                <li>
                                    <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                                </li>
                                <li>
                                    <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                        <i class="ti-fullscreen"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        <nav class="pcoded-navbar">
                            <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                            <div class="pcoded-inner-navbar main-menu">
                                <div class="">
                                    <div class="main-menu-header">
                                        <img class="img-80 img-radius" src="{{ url_for('static', filename='images/default.png') }}" alt="User-Profile-Image">
{#                                        <div class="user-details">#}
{#                                            <span id="more-details">{{ username }}<i class="fa fa-caret-down"></i></span>#}
{#                                        </div>#}
                                    </div>
{#                                    <div class="main-menu-content">#}
{#                                        <ul>#}
{#                                            <li class="more-details">#}
{#                                                <a href="user-profile.html"><i class="ti-user"></i>View Profile</a>#}
{#                                                <a href="#!"><i class="ti-settings"></i>Settings</a>#}
{#                                                <a href="auth-normal-sign-in.html"><i class="ti-layout-sidebar-left"></i>Logout</a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </div>#}
                                </div>
                                {% block nav %}
                                {% endblock nav %}
                            </div>
                        </nav>
                        <div class="pcoded-content">
                            <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">{% block header %}{% endblock header %}</h5>
                                            <p class="m-b-0">{% block header_title %}{% endblock header_title %}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="{{ url_for('home') }}"><i class="fa fa-home"></i></a>
                                            </li>
                                            {% block breadcrumb %}

                                            {% endblock breadcrumb %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% block content %}
                            {% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/popper.js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='pages/waves/js/waves.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-growl.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='pages/notification/notification.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/pcoded.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/vertical/vertical-layout.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/common-pages.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
        {% block extra_css_bottom %}
        {% endblock extra_css_bottom %}
        {% block extra_js_bottom %}
        {% endblock extra_js_bottom %}
    </body>
</html>