<!DOCTYPE html>
<html lang="en">

<head>
    <title>ToDo ITEA</title>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pages/waves/css/waves.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icon/themify-icons/themify-icons.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icon/icofont/css/icofont.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icon/font-awesome/css/font-awesome.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body themebg-pattern="theme1">
  <!-- Pre-loader start -->
  <div class="theme-loader">
      <div class="loader-track">
          <div class="preloader-wrapper">
              <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
              <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>

              <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>

              <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script type="text/javascript">
                var messages = []
                {% for category, mess in messages %}
                    messages.push(['{{mess}}', '{{ category }}'])
                {% endfor %}
            </script>
        {% endif %}
    {% endwith %}
  <!-- Pre-loader end -->

    <section class="login-block">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                        <form method="POST" class="user md-float-material form-material">
                            <div class="text-center">
                                <img src="{{ url_for('static', filename='images/logo.svg') }}" class="imglogoW">
                            </div>
                            <div class="auth-box card">
                                <div class="card-block">
                                        <div class="row m-b-20">
                                            <div class="col-md-12">
                                                <h3 class="text-center">Sign Up</h3>
                                            </div>
                                        </div>
                                        <div class="form-group form-primary">
                                            {{ form.email(class_="form-control", placeholder="ел.адреса") }}
                                        </div>
                                        <div class="form-group form-primary">
                                            {{ form.psw_hash(class_="form-control", placeholder="пароль") }}
                                        </div>
                                        <div class="form-group form-primary">
                                            {{ form.name(class_="form-control", placeholder="Ім'я") }}
                                        </div>
                                        <div class="form-group form-primary">
                                            {{ form.surname(class_="form-control", placeholder="Прізвище") }}
                                        </div>
                                        <div class="form-group form-primary">
                                            {{ form.role(class_="form-control", placeholder="Роль") }}
                                        </div>
                                        <div class="row m-t-25 text-left">
                                            <div class="col-12">
                                                <div class="forgot-phone text-right f-right">
                                                    <a href="{{ url_for('api_signin') }}" class="text-right f-w-600">Вже є аккаунт?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-t-30">
                                            <div class="col-md-12">
                                                <button type="submit"  class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign up</button>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <p class="text-inverse text-left m-b-0">Дякуємо.</p>
                                            </div>
                                            <div class="col-md-2">
                                                <img src="{{ url_for('static', filename='images/logo.svg') }}" class="imglogoB">
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </section>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='pages/waves/js/waves.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/common-pages.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-growl.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='pages/notification/notification.js') }}"></script>
</body>

</html>
